body {
    color: white;
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Kanit", sans-serif;
    margin-bottom: 100px;
    margin-bottom: 100px;
    margin-top: 50px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 22);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 22);
}

.chamada {
   background: rgb(1, 48, 54);
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;

}

.categoria-videos img {
   opacity: 0.5;
   height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid yellow;
}
.categoria h2 {
    color: green;
}