body {
    background-color: rgb(8, 29, 3)
}

.titulo {
    color: white;
    text-align: center;
}

.conteudo {
    color: white;
    text-align: center;
}

header {
    color: white;
    padding: 20px;
    background-color: rgb(14, 188, 231);
    border: solid 2px rgb(255, 255, 255);
    padding-right: 10px;
    text-align: end;
}

.barra-colorida {
    background: rgb(14, 188, 231);
    border: solid 2px rgb(255, 255, 255);
    justify-content: center;
}

.planos h2 {
    color: rgb(0, 255, 115);
}

.planos h4 {
    color: white;
    border-bottom: solid 20px color rgb(0, 0, 0);
}

.planos {
    color: white;
    text-align: start;
    padding-left: 40px;
}

.planos-2 h2 {
    color: rgb(0, 174, 255);
}

.planos-2 h4 {
    color: white;
    border-bottom: solid 20px color rgb(0, 0, 0);
}

.planos-2 {
    color: white;
    text-align: end;
    padding-right: 40px;
}

.termosfinal {
    color: white;
    font-size: small;
}

.barrinha {
    padding: 200px ;
    border-bottom: solid 2px rgb(255, 255, 255);
}

.planos-3 h2 {
    color: rgb(255, 51, 0);
}

.planos-3 h4 {
    color: white;
    border-bottom: solid 20px color rgb(0, 0, 0);
}

.planos-3 {
    color: white;
    text-align: start;
    padding-left: 40px;
}

.barra {
    text-align: start;
}

body {
    font-size: 40px;
}

button {
    font-size: 50px;
}

.planos h2 {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding-left: 60px;
}

.planos-2 h2 {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding-left: 60px;
}

.planos-3 h2 {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding-left: 60px;
}

.botaoajuda {
    font-size: small;
}

.comprarpts {
    color: white;
}